*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --primary:#1a245f;
    --secondary:#159EEC;
    --text:green;
    --border: #e1e1e1;
    --light-bg:#f4f7fb;
    --white:#ffff;
    --modern:#02DDCD;

}
body {
    background: var(--white);
   
    line-height: 1.6;
}

.top-bar {
         padding: 10px 10%;
         display: flex; 
         justify-content: space-between;
         align-items: center; 
         background: var(--primary); 
        flex-wrap: wrap; 
    }
        .info-item {
        display: flex;
        align-items: center;
        gap: 10px; 
        color: var(--navy);
        font-size: 13px; 
    }
        .info-item i {
                 font-size: 24px; 
                 color: var(--accent);
         }
        .info-item b { 
                display: block;
                text-transform: uppercase;
             }




/* INFO BOX */
.info-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info-box i {
  font-size: 30px;
  color: var(--secondary);
}

.info-box p {
  font-size: 13px;
  opacity: 0.85;
  color: var(--primary);
}

.info-box h1 {
  font-size: 18px;
  font-weight: bold;
}
.logo span {
    color: var(--secondary);
}

header { 
padding: 100px ; 
background: var(--primary); 
 display: flex; 
 justify-content: space-between;
 align-items: center; 
 top: 0;
 z-index: 100; 
                
}

.nav-links  {
    background:var(--primary);
    padding:10px 18px;
    color:var(--white);
    justify-content:space-between;
    text-decoration:none;
    font-size:14px ;
} 
.nav-links a:hover {
    text-decoration: underline;
    color: var(--modern);
}

 .btn-appointment { 
     background: var(--secondary); 
    color: var(--white); 
    padding: 12px 30px;
     border-radius: 50px; 
     border: none;
     font-weight: bold;
    cursor: pointer; 
 }
    .btn-appointment a {
        text-decoration: none;
        font-size: 22px;
        color: var(--white);
 }


/* .icons {
    display:flex;
    flex-direction:column;
    position:relative;
    
   
} */
.icons p, h1 {
    font-size:1.5rem;
    margin: 30px;
    
}
 header { 
      padding: 10px 10%;   
     background: var(--primary); 
     display: flex; 
    justify-content: space-between;
    align-items: center; 
     top: 0;
     z-index: 1000; 
    
                
}
        .nav-links { 
            flex-wrap: wrap; 
            
        }
        .nav-links a { 
                 text-decoration: none;
                 color: white; padding: 25px 20px;
                 font-size: 14px; transition: 0.3s; 
            }

.hero {
    background: url(images_health/Article@2x-2.PNG )   no-repeat center center/cover  ;
   width: 100% 10%;
    height: 300px;
    display: flex;
   flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    gap:15px;

}
.sub {
   
    padding:18px 18px;
    flex-direction:column;
    margin-left: 45px;
    position: relative;
  
}
.hero h2 {
    color: var(--secondary);
    font-size:2.5rem;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: #02DDCD 1px 1px 2px;
}
.hero a {
    padding:8px 10px;
    color:var(--white);
    justify-content:space-between;
    text-decoration:none;
    font-size:1rem;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 30px;
}
.hero p {
    color: var(--secondary);
}

.hero a:hover {
    text-decoration: underline;
    color: var(--modern);
}
.hero h4 {
    font-size: 1.4rem;
    margin-top: 10px;
    color: var(--secondary);
}
.hero h3 {
    font-size: 1.4rem;
    color: var(--primary);
    text-shadow: #1a245f 1px 2px ;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


 
/* pagination  */
.pagination {
    background: var(--secondary);
    display:flex;
    margin-top:40px,
}
.pagination a {
    background: var(--secondary);
    color:var(--white);
    padding:10px 18px;
    border-radius:20px;
    gap: 40px;
    text-decoration:none;

}

.write p, h1{
    text-align:center;
    font-size: 2.5rem;
    color: var(--secondary);
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 50px 6%;
}
.container img {
    width: 65%;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: fadeIn 1.2s ease;
}
.content p {
    margin-bottom:20px;
    line-height:1.8;
}
.sidebar-box {
    background:var(--white);
    padding:16px;
    border-radius:10px;
    border:2px solid var(--secondary);
    margin-bottom:25px;
    text-transform:capitalize;

}
.sidebar-box img{
    width:50%;
    border-radius:14px;
    margin:10px 0;
}
.sidebar-box h3 {
    font-size:2.1rem;
    color:var(--text)
}
.sidebar-box h5 {
    color:var(--secondary);
    font-size:1.8rem;
}
.sidebar-box .cate {
    text-align:center;
    align-items:center;
    font-size:1.5rem;
    text-transform:capitalize;
}
.sidebar-box li {
              display: flex;
            justify-content: space-between;
            font-size: 12px;
            margin-bottom: 4px;

}
.sidebar-box  h4   {
     background: var(--secondary);
            color: white;
            padding: 2.5px 6px;
            border-radius: 50%;
            font-size: 12px;
}
.contact-section {
    padding:60px 6%;
    text-align:center;
    background-color: var(--secondary);


}
.contact-section .touch {
    color:var(--primary);
    font-size:2rem;
}
.contact-grid{
    background: var(--white);

    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
    border: none;
    outline: none;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.1);
}
.contact-card h3  {
    color:var(--secondary);
    font-size:1.8rem;
    margin-bottom:15px;
}
.contact-card p {
    font-size:1.4rem;
    color:var(--text);
    line-height:1.6;
}
.contact-section h2 {
    font-size:2.5rem;
    margin-bottom:20px;
    color:var(--text);
}
.contact-card {
    padding:25px;
    border-radius:12px;
    border:1px solid var(--border);
    gap: 10px;
}

/* footer */


 footer {
     background: var(--primary); 
     color: white;
    padding: 80px 10% 30px;
    margin-top: 15px;
  }
    .footer-grid { 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        gap: 50px;
        margin-bottom: 50px; 
        }
        .footer-col h4 { 
            border-bottom: 2px solid var(--accent);
            display: inline-block;
            padding-bottom: 5px; 
            margin-bottom: 20px; 
     }
        .footer-col p, .footer-col li { opacity: 0.8; 
                font-size: 14px;
                margin-bottom: 10px;
                list-style: none; }
                .text-center { 
    text-align: center; 
    margin-bottom: 40px; 
}
.section-subtitle { color: #159EEC; 
    font-weight: bold;
     letter-spacing: 2px; 
     font-size: 14px;
 }
.section-title { color: #1F2B6C;
     font-size: 36px;
    font-family: 'Playfair Display', serif; 
    }

.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1100px;
    min-width: 100px;
    margin: 0 auto;
}

.contact-card {
    padding: 40px 20px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;
}

.contact-card i { 
    font-size: 32px;
     margin-bottom: 15px; 
}
.contact-card h3 { font-size: 18px;
     margin-bottom: 10px;
     }
.contact-card p {
     font-size: 14px; 
    margin: 2px 0; 
}

.card-light-blue { background: var(--light-bg); 
    color: #1F2B6C; 
}
.card-dark-navy {
     background: #1F2B6C;
     color: white; 
}




/* RESPOSIVE WEB DESIGN */

@media(max-width:998px) {
.footer-grid {
    
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
}
}

@media(max-width:992px) {
    .footer-grid {
        grid-template-columns:repeat(2, 1fr,);
        gap:20px;
    }
    .contact-grid { grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px ) { 
    header {
        flex-direction:column;
        gap:15px;
    }
    .nav-links{
        display: flex;
        flex-wrap: wrap;
         display: flex;
        justify-content: center;
         gap: 5px;
                
    }
    .hero h1 {
        font-size:1.5rem;
    }
    .hero h3 {
        flex-wrap: wrap;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .content{
        grid-template-columns:repeat(2,1fr);
    }
   
    .footer-grid {
        grid-template-columns:repeat(1fr);
        gap:15px;
    }
    footer {
        padding:40px 20px;
    }
    .contact-grid { grid-template-columns: 1fr;
    }
    .contact h2 { font-size: 1.5rem; 
    }

}
@media(max-width:768px) {
    header{
        flex-direction:column;
        align-items:center;
        padding:18px 18px;
    }
    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
        gap:5px;
        margin-top:10px;
    }
    .hero h3 {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1rem;
    }
    .top-bar,nav {
        display: flex;
    }
    .footer-grid {
        flex-direction: column;
       
    }
     .footer-box, .flex-box {
        width: 100%;
        margin: 15px 0;
    }
     .newsletter {
        max-width: 90%;
    }
    .contact-grid{
        width: 80%;
        background: var(--white);
    }

}