*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --primary:#1a245f;
    --secondary:#159EEC;
    --text:green;
    --border: #e1e1e1;
    --light-bg:#f4f7fb;
    --white:#ffff;
    --modern:#02DDCD;

}
body {
    background: var(--light-bg);
    color: var(--text-bg);
    line-height: 1.6;
}
/* .head p {
    margin: 50px 80px;
    font-size: 2.5rem;
    padding: 3px 14px;
}
.head span {
    color: var(--secondary);
    font-size: 2.5rem;

} */


.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;
  background: var(--white);
  color: #fff;
  flex-wrap: wrap;
}

/* LOGO */
.logo p {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary);
}

.logo span {
  color: var(--secondary);
}

/* ICON SECTION */
.icons {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* INFO BOX */
.info-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info-box i {
  font-size: 30px;
  color: var(--secondary);
}

.info-box p {
  font-size: 13px;
  opacity: 0.85;
  color: var(--primary);
}

.info-box h1 {
  font-size: 18px;
  font-weight: bold;
}











.header {
    background: var(--primary);
    padding: 18px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    background:var(--primary);
    padding:10px 18px;
    color:var(--white);
    justify-content:space-between;
    text-decoration:none;
    font-size:1.5rem;

} 
.point a{
    font-size:2rem;
    text-decoration:none;
    color:var(--white)
}
.point {
    background:var(--secondary);
    padding:10px 18px;
    border-radius:13px;
    
    }

.icons {
    display:flex;
    flex-direction:column;
    position:relative;
   
}
.icons p, h1 {
    font-size:1.5rem
}

.hero {
    background: url(./images_health/Article@2x-2.PNG)  no-repeat center center/cover;
    padding: 100px ;
    color:var(--white);
    text-shadow:0 2px 6px ;
    animation:fadeIn 1.2s ease;
    z-index:-1;
}

 .write { 
    align-items: center;
    /* margin-left: 50px; */
    font-size: 1rem;
    margin-bottom: 10px;
   
}
/* pagination  */
.pagination {
    background: var(--secondary);
    display:flex;
    margin-top:40px,
}
.pagination a {
    background: var(--secondary);
    color:var(--white);
    padding:10px 18px;
    border-radius:20px;
    text-decoration:none;

}

.write p, h1{
    text-align:center;
    font-size: 2.5rem;
    color: var(--secondary);
}
.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 50px 6%;
}
.container img {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
    animation: fadeIn 1.2s ease;
}
.content p {
    margin-bottom:20px;
    line-height:1.8;
}
.sidebar-box {
    background:var(--white);
    padding:16px;
    border-radius:10px;
    border:2px solid var(--secondary);
    margin-bottom:25px;
    text-transform:capitalize;

}
.sidebar-box img{
    width:50%;
    border-radius:14px;
    margin:10px 0;
}
.sidebar-box h3 {
    font-size:2.1rem;
    color:var(--text)
}
.sidebar-box h4 {
    color:var(--secondary);
    font-size:1.5rem;
}
.sidebar-box .cate {
    text-align:center;
    align-items:center;
    font-size:1.5rem;
    text-transform:capitalize;
}
.contact-section {
    padding:60px 6%;
    text-align:center;
    background-color: var(--secondary);


}
.contact-section .touch {
    color:var(--primary);
    font-size:2rem;
}
.contact-grid{
    background: var(--white);

    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
    border: 1px solid var(--border);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.1);
}
.contact-card h3  {
    color:var(--secondary);
    font-size:1.8rem;
    margin-bottom:15px;
}
.contact-card p {
    font-size:1.4rem;
    color:var(--text);
    line-height:1.6;
}
.contact-section h2 {
    font-size:2.5rem;
    margin-bottom:20px;
    color:var(--text);
}
.contact-card {
    padding:25px;
    border-radius:12px;
    border:1px solid var(--border);
    gap: 10px;
}

/* footer */
footer {
    width: 100%;
    background: var(--primary);
    color:var(--white);
    padding:40px 6%;
    margin-top:0px;
    box-shadow: 0 6px 15px var(--primary);
    display:flex;
    columns: 3;
  
  

    /* justify-content:space-between; */
}
.footer-grid{
    display:grid;
    gap:30px;
    grid-template-columns:repeat(4,);
  
}
.footer-box{
    display:flex;
    flex-direction:column;
    padding: 5px;
}
.flex-box ul li {
    font-size: 1.3rem;
    margin-bottom:15px;
    text-decoration: none;
    list-style: none;
}


.newsletter {
    width:100%;
    padding:10px;
    border-radius:10px;
    border:none;
}
.footer-bottom {
    text-align:center;
    margin-top:50px;

}






/* RESPOSIVE WEB DESIGN */

@media(max-width:998px) {
.footer-grid {
    
    grid-template-columns:repeat(2, 1fr);
    gap:20px;
}
}

@media(max-width:992px) {
    .footer-grid {
        grid-template-columns:repeat(2, 1fr,);
        gap:20px;
    }
    .contact-grid { grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px ) { 
    header {
        flex-direction:column;
        gap:15px;
    }
    nav{
        display:flex;
        flex-direction:column;
    }
    .hero h1 {
        font-size:1.5rem;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .content{
        grid-template-columns:repeat(2,1fr);
    }
   
    .footer-grid {
        grid-template-columns:repeat(1fr);
        gap:15px;
    }
    footer {
        padding:40px 20px;
    }
    .contact-grid { grid-template-columns: 1fr;
    }
    .contact h2 { font-size: 1.5rem; 
    }

}
@media(max-width:768px) {
    header{
        flex-direction:column;
        align-items:center;
        padding:18px 18px;
    }
    nav{
        flex-wrap:wrap;
        justify-content:center;
        gap:12px;
        margin-top:10px;
    }
}